

<body>
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url('http://static.nhanam.com.vn/thumb/0x0/crop/Features/Images/2019/4/25/6HHNAJ7E.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>CHI TIẾT SẢN PHẨM</h2>
          <div class="breadcrumb__option">
            <a [routerLink]="['/']">TRANG CHỦ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
            <img src="{{book?.coverForm}}" alt=" " class="product__details__pic__item__large">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3>{{book?.name}}</h3>
          <div class="product__details__rating">

          </div>
          <div class="product__details__price">{{book?.price | currency:'VND':''}}.000 VNĐ</div>
          <ul>
            <li><b>Tên tác giả</b> <span>{{book?.author}}</span></li>
            <li><b>Nhà xuất bản</b> <span>{{book?.publisher}}</span></li>
            <li><b>Năm xuất bản</b> <span>{{book?.yearPublisher}}</span></li>
          </ul>

          <div class="product-quantity-wrapper">
            <b>Số lượng</b>
            <div class="change-quantity-product">
              <a class="btn-change-quantity" (click)="subQuantity()">
                <img src="assets/img/image-sub.png" alt="" class="image-change-quantity">
              </a>
              <input type="text" value="1" class="input-change-quantity fs-14">
              <a class="btn-change-quantity" (click)="addQuantity()">
                <img src="/assets/img/image-add.png" alt="" class="image-change-quantity">
              </a>
            </div>
          </div>

          <div class="product-add-btn-wrapper d-flex-justify-center">
            <button class="primary-btn" (click)="addToCart()">
              <i class="bi bi-cart-plus cart-icon"></i>
              Thêm vào giỏ hàng
            </button>
            <button class="primary-btn">Mua ngay</button>
          </div>

          <ul>
            <li><b>Kích thước</b> <span>{{book?.packagingSize}}</span></li>
            <li><b>Số trang</b> <span>{{book?.page}}</span></li>
            <li><b>Cân nặng</b> <span>{{book?.weight}}</span></li>
          </ul>
        </div>

      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <h6>Mô tả sản phẩm</h6>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <div class="product__details__tab__desc" *ngIf="isViewDesc">
                <p *ngFor="let desc of descriptions">{{desc}}</p>
              </div>

              <div class="product__details__tab__desc" *ngIf="!isViewDesc">
<!--                <p>Xem thêm ...</p>-->
              </div>

              <div class="d-flex-justify-center">
                <button class="btn btn-view-desc" (click)="changeView()" *ngIf="!isViewDesc">Xem thêm</button>
                <button class="btn btn-view-desc" (click)="changeView()" *ngIf="isViewDesc">Rút gọn</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Details Section End -->

</body>


