<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
bích phương
<!-- modal logout-->
<div class="modal fade" id="sign-out">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Want to leave?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;
                </button>
            </div>
            <div class="modal-body">
                Press logout to leave
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Logout</button>
            </div>
        </div>
    </div>

</div>
<section>
    <div class="container-fluid">
        <div class="row" style="margin-top: 80px">
            <div class="col-xl-9 col-lg-8 col-md-8 ml-auto">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-12 mb-4 mb-xl-0">
                        <h3 class="text-muted text-center mb-3"> Create Book</h3>
<!--                        th:action="@{/admin/home/book/create}"-->
                        <form th:action="@{/api/book/save}" th:object="${book}" method="post">
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" th:field="*{book.amount}"/>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Author</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" th:field="*{book.author}"/>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Cover Form</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" th:field="*{book.coverForm}"/>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" th:field="*{book.description}"/>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Page</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" th:field="*{book.page}"/>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Packaging Size</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" th:field="*{book.packagingSize}"/>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Point Reward</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" th:field="*{book.pointReward}"/>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Publisher</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" th:field="*{book.publisher}"/>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Year Publisher</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="date" th:field="*{book.yearPublisher}"/>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Number Rating</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" th:field="*{book.numberRating}"/>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Language</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" th:field="*{book.language}"/>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Weight</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" th:field="*{book.weight}"/>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label">Category book</label>
                                <div class="col-sm-8">
                                    <select class="custom-select" th:field="${book.category}">
                                        <option  th:each="category:${category}" th:text="${category.name}" th:value="${category.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>