<div class="category-title">
  <div class="component">
    <div class="row best-sale-title">
      <!--    <i class="bi bi-book-half"></i>-->
      <a> VĂN HỌC VIỆT NAM</a>
    </div>
  </div>
</div>

<!-- Featured Section Begin -->
<section class="featured spad">
  <div class="container">
    <div class="row featured__filter">
      <div class="col-lg-3 col-md-4 col-sm-6 mix oranges " *ngFor="let book of books; index as i">
        <div class="featured__item">
          <div class="featured__item__pic set-bg">
            <img
              src="{{book.coverForm}}">
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="/detail"><i class="bi bi-three-dots"></i></a></li>
              <li><a href="/cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">{{book.name}}</a></h6>
            <h5>{{book.price | currency:'VND':''}}.000 VNĐ</h5>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- Featured Section End -->

